/*I learned you that using hex code is a good way to mix colors. 0 represents absence of color while F represents the max possible brightness. The two digits represent red, green, blue respectively*/
<style>
  .red-text {
    color: #FF0000;
  }
  .green-text {
    color: #00FF00;
  }
  .dodger-blue-text {
    color: 	#1E90FF;
  }
  .orange-text {
    color: 	#FFA500;
  }
</style>

<h1 class="red-text">I am red!</h1>

<h1 class="green-text">I am green!</h1>

<h1 class="dodger-blue-text">I am dodger blue!</h1>

<h1 class="orange-text">I am orange!</h1>
